{# training details visual feedback #}
<div class="row">
  <h5>Training Details:</h5>
</div>  

<div class="caption">Current Epoch</div>
<div class="progress">
  <div class="progress-bar bg-info" style="width: 0%" id="fitting-training-status"></div>
</div>

<div class="caption">Progress</div>
<div class="progress">
  <div class="progress-bar bg-success" style="width: 0%" id="epoch-training-status"></div>
</div>

<div class="caption">
  Batch 
  <span class="text-success">Accuracy</span>
  /
  <span class="text-danger">Loss</span>
</div>
<div class="progress">
  <div class="progress-bar bg-success" style="width: 0%" id="batch-acc-status"></div>

  <div class="progress-bar bg-danger" style="width: 0%" id="batch-loss-status"></div>
</div>

<div class="row p-1"></div>

<div class="row d-flex justify-content-center" id="batch-training-graph"></div>